<.flash_group flash={@flash} />
<header class="p-8">
  <span class="font-bold"> My Kewl Website</span>
</header>
<section class="p-8 bg-neutral-100">
  <h1>This will be the worlds greatest website that you've ever seen</h1>
</section>